<div class="container-grid">
  <div class="header">
    <header *ngFor="let user of users">
      <div class="user-appearence">
        <div class="online-ball"></div>
        <ng-container class="wrapper">
          {{ user.name }}
        </ng-container>
      </div>
    </header>
  </div>
  <div class="leave">
    <button (click)="leaveRoom()">Leave</button>
  </div>
  <div class="message">
    <section #sectionMessages>
      <ng-container *ngFor="let item of messages">
        <ng-container *ngIf="item.type === 'JOIN' || item.type === 'LEAVE'" >
          <div class="joined-leave">
            <label >{{ item.type }}</label>| <label>{{ item.user.name }}</label>
          </div>
          <!-- <br /> -->
        </ng-container>
        <ng-container *ngIf="item.type === 'CHAT'">
          <div *ngIf="!item.sameUser" class="item-appearence">
            <label for="">{{ item.user.name }}</label> <label for="">{{ item.message }}</label>
          </div>
          <div *ngIf="item.sameUser" class="item-user-appearance">
            <label for="">{{ item.message }}</label>
          </div>
          <!-- <br /> -->
        </ng-container>
      </ng-container>
    </section>
    <footer>
      <form [formGroup]="form">
        <div class="btn-action">
          <input
            type="text-area"
            #inputMessage
            formControlName="inputMessage"
          />
          <button
            (click)="sendMessage(inputMessage.value)"
            (keydown.enter)="sendMessage(inputMessage.value)"
          >
            Send
          </button>
        </div>
      </form>
    </footer>
  </div>
  <div class="content">
    <div #image class="content-file">
      <ng-container *ngIf="!imagePresenting">
        <label>No Content</label>
      </ng-container>
      <ng-container *ngIf="imagePresenting">
        <div class="present-img">
          <img src="{{imagePresenting}}" alt=""/>
        </div>
      </ng-container>
    </div>
    <nav>
      <div class="insert-file">
        <div class="file-input-share">
          <button class="btn-select-file" (click)="fileInput.click()">Select File</button>
          <input
            type="file"
            #fileInput
            accept="image/*"
            (change)="onFileSelected($event)"
            style="display: none"
          />
        </div>
        <div class="file-share" *ngIf="sameUserPresenting">
          <button class="stop-share" (click)="onStopShare()">Stop Share</button>
        </div>
      </div>
      <ng-container *ngIf="images.length < 1" >
        <label class="label-no-selected-files">No Selected files</label>
      </ng-container>
      <ng-container *ngIf="images.length > 0">
        <div class="files" >
            <button (dblclick)="insertImageContent(nameImg, imageCaroussel, image)"
             (mousedown)="onMouseDown(nameImg, imageCaroussel)" (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()"
            *ngFor="let item of images">
              <img src="{{item.image}}" alt="" #imageCaroussel />
              <label #nameImg> {{item.description}} </label>
            </button>
        </div>
      </ng-container>
    </nav>
  </div>
</div>
<div *ngIf="stopShareClicked" class="overlay">
  <div class="modal-stop-share">
    <label>Stop Share Content?</label>
    <div class="action-btn">
      <button (click)="stopShareClicked = !stopShareClicked">No, I want to continue.</button>
      <button (click)="stop()">Yes, of course.</button>
    </div>
  </div>
</div>
