<div class="all-screen">
  <header class="header">
    <div>
      <img src="../../assets/rhesus.svg" alt="Tevin Software">
    </div>
    <div class="head-name">Tevin Softwares</div>
  </header>
  <div class="screen">
    <mat-card class="wrapper">
      <mat-card-content>
        <header>ENTER</header>
        <div class="container">
          <div class="input-data">
            <h3>Type your name</h3>
            <input type="text" #login [(ngModel)]="input"
            maxlength="16"/>
          </div>
        </div>
        <button (click)="loginWebPack(login.value)" (keydown.enter)="loginWebPack(login.value)">Login</button>
      </mat-card-content>
    </mat-card>
    <div class="version">version {{version}}</div>
  </div>
</div>
