<div class="all-screen">
  <mat-card class="wrapper">
    <mat-card-content >
      <header>
        Entrar
      </header>
      <div class="container">
        <input type="text" #login placeholder="Digite seu nome" [(ngModel)]="input">
        <!-- <mat-form-field>
          <mat-label>Seu nome aqui</mat-label>
          <input matInput value="Sushi" #login [(ngModel)]="input">
        </mat-form-field> -->
          <button (click)="loginWebPack(login.value)" mat-button color="primary">Login</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--
<div class="wrapper-log">
</div> -->
