* {
  font-family: "Roboto", "sans-serif";
}

.all-screen {
  height: 100%;
  background-color: #f0f0f0;
  background-image: linear-gradient(rgb(255, 255, 255) 30%, rgb(201, 226, 255));
}

.header {
  display: flex;
  position: relative;
  justify-content: start;
  height: 5rem;

  img {
    margin-top: 0.7rem;
    margin-left: 1rem;
    image-orientation: flip;
    width: 60px;
    height: 60px;
  }

  .head-name {
    margin-top: 12px;
    font-size: 15px;
  }
}

.screen {
  position: relative;
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .version {
    margin: 3px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  mat-card-content {
    z-index: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 190px;

    header {
      text-align: start;
      font-size: 40px;
      font-weight: 100;
      padding: 1rem;
      position: relative;
    }

    header::after {
      content: "";
      position: absolute;
      width: 1.3px;
      height: 225px;
      background-color: #cfcfcf;
      top: 0rem;
      left: 9rem;
    }

    .container {
      position: absolute;
      right: 0rem;
      top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 70%;

      .input-data {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }

      h3 {
        margin: 0 auto;
        font-weight: 100;
      }

      input {
        margin: 0 auto;
        width: 70%;
        height: 26px;
        border-radius: 4px;
        border: 1px solid #c0c0c0;
        padding: 2px 8px;
      }

      input[type="text"]:focus {
        outline-color: #86dbff;
        outline-offset: 1px;
      }
    }
  }
  button {
    position: absolute;
    bottom: 1.5rem;
    right: 3rem;
    padding: 0.6rem 2rem;
    border: 1px solid rgb(104, 182, 218);
    background-color: #ffffff;
    color: rgb(0, 100, 182);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: #3db9ee;
      color: white;
    }
  }
}
